{% extends "base.html" %}
{% block title %}Short URL{% endblock %}

{% block content %}

    

    <p>https://url-application.herokuapp.com/{{short_url_display}}</p>

    <button onclick="handleCopyTextFromParagraph()">Copy</button>
    
<script>
        function handleCopyTextFromParagraph() {
  const body = document.querySelector('body');
  const paragraph = document.querySelector('p');
  const area = document.createElement('textarea');
  body.appendChild(area);

  area.value = paragraph.innerText;
  area.select();
  document.execCommand('copy');

  body.removeChild(area);
}      
</script>
{% endblock %}